{% include 'tasks/head.html' with title='TasksApp'%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static '/tasks/login.css' %}">
<h1 class="tittle-page">TasksApp</h1>
<div class="main-login-container">
    <form class="form-login" action="{%url 'tasks:home' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <div class="login-container">
            <div class="login-data">
                <label class="login-input-label" for="username">Usuario</label>
                <label class="login-input-label" for="password">Contraseña</label>
            </div>
            <div class="login-data">
                <input
                    class="login-input-label box-input" 
                    type="text"
                    name="user"
                    id="username"
                 >            
                <input
                    class="login-input-label box-input"
                    type="password"
                    name="password"
                    id="password"
                >
            </div>
        </div>
        <div class="login-registration-buttons">
            <input 
                class="button" 
                type="submit" 
                value="Iniciar Sesión"
            >
            <a href="{%url 'tasks:registration' %}">
                <input 
                    class="button"
                    type="submit"
                    value="Registrarse"
                >
            </a>
        </div>
    </form>
</div>
{% include 'tasks/footer.html'%}
</html>