{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/footer.css'%}">
<footer>
    <div>
        <div class="social-network-logo">
            {% include 'social_networks/linkedin.html' with nextPage='https://www.linkedin.com/in/andres-figueredo/' %}
            {% include 'social_networks/github.html' with nextPage='https://github.com/mrReedax' %}
            {% include 'social_networks/twitter.html' with nextPage='https://twitter.com/MrReedax' %}
            {% include 'social_networks/instagram.html' with nextPage='https://www.instagram.com/mr.reedax/' %}
        </div>
    </div>
    <div><p class="copyright">TasksApp &copy; 2022 Andres Figueredo</p></div>
</footer>