{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/tasks/recordstable.css' %}">
<div class="records-container">
    <h1>Historial</h1>
    <table class="table-title">
        <tr class="table-row">
            <td>Tarea</td>
            <td class="date-cell">Completado en</td>
        </tr>
    </table>
    <div class="records-list">
        <table>
            {% for record in records %}
                <tr>
                    <td>{{record.task_text}}</td>
                    <td class="date-cell">{{record.completion_date}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>