footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1vw;
    background-color: #000000;
    color: white;
    font-size: 0.4em;
}

.copyright {
    margin: 0;
    font-size: 1.1rem;
}


.email {
    font-size: 1.2vw;
    margin: 0;
    position: absolute;
    right: 1vw;
}
.name-email {
    margin: 0;
    padding: 0;
}