header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #059862, 30%,#262335);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    padding: 2.5vw;
    border-radius: 0.5vw;
}

form {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    border: .2vw solid #cccccc;
    border-radius: 0.5vw;
}

.nav-button {
    border: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 0.3vw 2vw;
    background-color: #059862;
    font-size: 0.4em;
}

.nav-button:hover{
    color: #059862;
    background-color: white;
}

