header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #059862, 30%,#262335);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    padding: 2.5vw;
    border-radius: 0.5vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    background: linear-gradient(180deg, white, 80%,#059862);
    color: black;
}

.navbar {
    display: flex;
    flex-direction: column;
    border: .2vw solid #cccccc;
    border-radius: 0.5vw;
}

.agenda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 0.3vw 2vw;
    background-color: #059862;
    font-size: 0.4em;
    width: 10vw;
}

.nav-button:hover{
    color: #059862;
    background-color: white;
}

table {
    border: 0.5vw;
    border-radius: 1vw;
    color: white;
    width: 45vw;
    background-color: rgb(0, 166, 127);
    margin: 0.5vw;
    padding: 1vw 0.5;
}

.table-row {
    border-radius: 10vw;
}

.task-text {
    text-align: center;
}

.task-options {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 0.5vw;
}

.button:hover{
    background-color: white;
    color: black;
    border: 0.1vw solid black;
}
