html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    background: linear-gradient(180deg, #262335, 60%,#000000);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
}

.tittle-page{
    position: absolute;
    left: 1.5vw;
    top: 0vh;
    background: -webkit-linear-gradient(#1649b0, #8719b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.main-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38vw;
    border: none;
    background-color: rgba(255, 255, 255, 255);

}

/* formularion dentro del contenedor */
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    padding: 1vw 2vw;
}

.login-data {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0,255);
    justify-content: center;

}

/*labels Usuario, contraseña y sus inputs */
.login-input-label {
    padding: .2vw;
    margin: .2vw;
}

/* Cajas de texto para usuario y contraseña*/
.box-input{
    width: 20vw;
    height: 2.5vw;
}

.error-message {
    color: red;
    font-size: 1rem;
}

.login-registration-buttons{
    padding: 1vw;
}

.button {
    color: white;
    padding: 0.3vw 2vw;
    background-color: #059862;
    border: .1vw solid #cccccc;
    border-radius: 0.5vw;
    font-size: 1em;
}
.button:hover{
    color: #059862;
    background-color: white;
}